# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Ignore GitHub workflows (optional)
.github/workflows/

# Ignore broadcast outputs
broadcast/Interactions.s.sol/11155111/

# Ignore coverage report
coverage.txt

# Ignore foundry dependencies
lib/

# Ignore git submodules file (only if not used)
.gitmodules
